/* 设置背景色渐变 */
html {
    color: #cad3d6;
    min-height: 100%;
    background: -webkit-gradient(linear , 0 100, 0 98%, from(#163346), to(#000309) );
    background-color: #123;
    padding: 0;
    margin: 0;
}

hr {
    border: none;
    border-top: 3px double #035;
    width: 100%;
    margin: 20px 0;
}


a{ color:SteelBlue;text-decoration: none;}
a:hover{text-decoration:underline;}

div.jp-audio,
div.jp-video {
  /* Edit the font-size to counteract inherited font sizing.
   * Eg. 1.25em = 1 / 0.8em
   */
  font-size:1.25em;
}






/* 下面这三段语句负责代码框的特效 */
blockquote, pre {
    padding: 0.8em;
    /*background: #39213E;
    background: rgba(255,30,120,0.12);
    border: 1px solid #614;
    position: relative;*/
    z-index: 2;
    font-family: 'Lucida Console', 'Courier New', Courier, monospace;
    -webkit-transition: all 0.45s linear;
    -moz-transition: all 0.45s linear;

}

blockquote {
    background: rgba(255,30,120,0.1);
    border: 1px solid rgba(230,0,20,0.2);
}

blockquote:hover, pre:hover {
    color: #eee;
    background: rgba(255,30,120,0.25);
}