
/*-------------------------
	设置背景色渐变
--------------------------*/
html {
    color: #cad3d6;
    min-height: 100%;
    background: -webkit-gradient(linear , 0 100, 0 98%, from(#222222), to(#333333) );
    background-color: #222222;
    padding: 0;
    margin: 0;
}
/*-------------------------
html {
    color: #cad3d6;
    min-height: 100%;
    background: -webkit-gradient(linear , 0 100, 0 98%, from(#163346), to(#000309) );
    background-color: #123;
    padding: 0;
    margin: 0;
}
--------------------------*/
/*-------------------------
	设置横线属性
--------------------------*/
hr {
    border: none;
    border-top: 3px solid #666666;
    width: 100%;
    margin: 20px 0;
}

/*-------------------------
设置超链接字体颜色，并取消下划线
--------------------------*/
a{ color:#cccccc;text-decoration: none;}
/*-------------------------
当鼠标经过超链接字体时，显示下划线
--------------------------*/
a:hover{text-decoration:underline;}

/*-------------------------
	设置jPlayer字体
--------------------------*/
div.jp-audio,
div.jp-video {
  /* Edit the font-size to counteract inherited font sizing.
   * Eg. 1.25em = 1 / 0.8em
   */
  font-size:1.25em;
}

/*-------------------------
	设置一个块属性<div></div>
--------------------------*/
#left {
    float: left;
    width: 40%;
}

/*-------------------------
设置一个块属性<div></div>
--------------------------*/
#right {
    float: right;
    width: 40%;
}


/*----------------------------
	菜单栏
-----------------------------*/


#menu {
	background: url("/images/bar.png") repeat-x 0 -94px;
	display: block;
	height: 39px;
	margin: 55px auto;
	position: relative;
	width: 600px;
	text-align:center;
	
	-moz-box-shadow:0 4px 4px #000;
	-webkit-box-shadow:0 4px 4px #000;
	box-shadow:0 4px 4px #000;
}


#menu a{
	color: #000000;
	display: inline-block;
	height: 39px;
	line-height: 37px;
	padding: 0 15px;
	text-shadow:1px 1px 1px #315218;
}

#menu a:hover{
	text-decoration:none;
}

#menu a.active{
	background: url("/images/bar.png") repeat-x 0 -138px;
	box-shadow:	1px 0 0 rgba(255, 255, 255, 0.2),
				-1px 0 0 rgba(255, 255, 255, 0.2),
				1px 0 1px rgba(0,0,0,0.2) inset,
				-1px 0 1px rgba(0,0,0,0.2) inset;
}


/*----------------------------
	去除li列表前面的点
-----------------------------*/
ul li
{
list-style-type:none;
}
