/* 设置背景色渐变 */
html {
    color: #cad3d6;
    min-height: 100%;
    background: -webkit-gradient(linear , 0 100, 0 98%, from(#163346), to(#000309) );
    background-color: #123;
    padding: 0;
    margin: 0;
}

/* 设置横线属性 */
hr {
    border: none;
    border-top: 3px double #035;
    width: 100%;
    margin: 20px 0;
}

/* 设置超链接字体颜色，并取消下划线 */
a{ color:SteelBlue;text-decoration: none;}
/* a:hover{text-decoration:underline;} */

div.jp-audio,
div.jp-video {
  /* Edit the font-size to counteract inherited font sizing.
   * Eg. 1.25em = 1 / 0.8em
   */
  font-size:1.25em;
}

/* 设置一个块属性<div></div> */
#post-part {
    float: left;
    width: 70%;
}