<!DOCTYPE html>
<html>
	<head>
		<meta name="google-site-verification" content="pKvvLKBb3u6CA8vDbJlY48ZOKDNVohvUZjQTepeAmY8" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link href="/css/my.css" rel="stylesheet" type="text/css">


<p id='preview'>The player will show in this paragraph</p>
<script type='text/javascript' src='swfobject.js'></script>
<script type='text/javascript'>
var s1 = new SWFObject('http://www.longtailvideo.com/files/player.swf','player','400','300','9');
s1.addParam('allowfullscreen','true');
s1.addParam('allowscriptaccess','always');
s1.addParam('flashvars','file=http://www.longtailvideo.com/videos/8.flv');
s1.addParam('repeat','always'); //不断重复整个播放列表
s1.addParam('autostart','true'); //自动开始播放
s1.write('preview');
</script>

	</head>

	<body>
		<font color=SteelBlue>{{ content }}</font>
		<br><center><a href="http://youzhiyili.github.com/">Linux学习笔记 &hearts; youzhiyili</a></center>
	</body>
</html>
