<!DOCTYPE html>
<html>
	<head>
		<meta name="google-site-verification" content="pKvvLKBb3u6CA8vDbJlY48ZOKDNVohvUZjQTepeAmY8" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link href="/css/background.css" rel="stylesheet" type="text/css">
		<h2 style="color:SteelBlue">{{ page.title }}</h2>
<script>
  (function() {
    var cx = '000932499768832929249:WMX-1377257178';
    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
  })();
</script>
<!-- Place this tag where you want the search results to render -->
<gcse:searchresults-only></gcse:searchresults-only>
	</head>
	<body>
		<font color=SteelBlue>{{ content }}</font>
		<br><center><a href="http://youzhiyili.github.com/">本站主人youzhiyili  返回首页</a></center>
	</body>
</html>
